<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Ajna Sol</title>

    <link rel="icon" href="../img/LOTOblan.png" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/blog.css" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="../index.html">
          <img src="../img/LOTOblan.png" alt="logo" />
        </a>
      </div>
      <div class="search-container">
        <input
          type="text"
          id="searchInput"
          placeholder="Buscar artículos..."
          aria-label="Buscar artículos"
        />

        <button onclick="searchArticles()">Buscar</button>
      </div>
      <nav class="nav">
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="../templates/clases.html">Clases</a></li>
          <li><a href="../templates/contacto.html">Contacto</a></li>
          <li><a href="../templates/tienda.html">Tienda</a></li>
          <li><a href="../templates/adminMensajes.html">Admin. Mensajes</a></li>
          <li><a href="../templates/productos.html">Admin. Productos</a></li>
          <li><a href="../index.html">Salir</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="section-img">
        <div class="img-overlay-container">
          <img src="../img/yogafrentelamamr.jpg" alt="" />
          <div class="img-text">
            <h1>Noticias y artículos del mundo del yoga</h1>
            <p>
              En mi blog de yoga, podrás encontrar mucha información sobre yoga,
              meditación y bienestar. Utiliza el buscador para encontrar el
              contenido que te interesa: estilos de yoga, beneficios del
              mindfulness, como elegir tu esterilla de yoga, recetas
              saludables...
            </p>
          </div>
        </div>
      </section>
      <div class="section-blog">
        <article>
          <h2>
            Conoce los Beneficios del Yoga: guía básica para principiantes
          </h2>
          <h3>
            Un resumen de las ideas básicas para empezar a practicar yoga y
            disfrutar de sus beneficios.
          </h3>
          <img
            src="../img/beneficios-del-yoga.webp"
            alt=""
            class="imagen-blog"
          />

          <p>
            Más allá de las posturas físicas, el yoga es una filosofía de vida
            que busca la unión entre cuerpo, mente y alma. En este artículo, te
            contamos cuáles son los beneficios del yoga para el cuerpo y la
            mente, ofreciéndote una guía básica especialmente diseñada para
            principiantes...
          </p>
          <a
            href="https://psicologiaymente.com/salud/beneficios-del-yoga-guia-basica-para-principiantes"
            target="_blank"
            >Leer el artículo completo</a
          >
        </article>
        <article>
          <h2>Meditación en yoga: qué es y cómo practicarla para relajarse</h2>
          <h3>
            La meditación en el yoga permite entrar en un estado de calma,
            concentración y conexión con uno mismo.
          </h3>
          <img src="../img/yoga-y-meditacion.jpg" alt="" class="imagen-blog" />

          <p>
            Para ello es importante hacer una buena combinación entre la
            postura, la respiración controlada y la atención plena. Hoy
            profundizamos en el concepto de meditar y sus efectos, y te
            explicamos cuáles son las mejores técnicas de meditación para
            relajarse para practicarlas en casa. ¿Te interesa el tema a nivel
            profesional?...
          </p>
          <a href="https://institutodyn.com/meditacion-yoga-tecnicas-casa/"
            >Leer elarticulo completo</a
          >
        </article>
        <article>
          <h2>Entrenamiento y alimentación para ganar fuerza y salud</h2>
          <h3>
            Hace pocos años, el entrenamiento con peso o resistencia era casi
            una exclusiva del público masculino.
          </h3>
          <img
            src="../img/ganar-fuerza-muscular-1200x675.jpg"
            alt="imagen"
            class="imagen-blog"
          />

          <p>
            Las mujeres centrábamos nuestro ejercicio físico en prácticas
            aeróbicas o cardiovasculares, o bien de flexibilidad y movilidad. El
            temor a que los pesos pudieran dañar nuestros huesos o
            articulaciones, ...
          </p>
          <a
            href="https://xuanlanyoga.com/entrenamiento-y-alimentacion-para-ganar-masa-muscular-y-salud/"
            target="_blank"
            >Leer el artículo completo</a
          >
        </article>
        <article>
          <h2>Posturas de yoga</h2>
          <h3>
            Asana es el nombre que reciben en sanscrito las posturas de yoga.
          </h3>

          <img
            src="../img/Ardha-Chandrasana.jpg"
            alt="imagen posturas de yoga"
            class="imagen-blog"
          />

          <p>
            Todas ellas incorporan esta palabra en su denominación,
            estableciendo de esta forma una nomenclatura propia del yoga. Aquí
            te contamos cuáles son los músculos que se trabaja en cada una de
            ellas, sus beneficios y variantes para que mejores tu técnica
            rápidamente. Gracias a este conocimiento podrás adaptar tus sesiones
            de yoga para lograr los objetivos específicos que quieras...
          </p>

          <a href="https://www.es-yoga.com/posturas-yoga/"
            >Leer el artículo completo</a
          >
        </article>
        <article>
          <h2>Nutrición y Yoga:</h2>
          <h3>Descubre los beneficios de la dieta vegetariana y vegana</h3>
          <img
            src="../img/nutricion-yoga-alimentos.webp"
            alt=""
            class="imagen-blog"
          />
          <p>
            Descubre la conexión entre la nutrición y el yoga. Explora la
            alimentación consciente, la dieta sátvica y cómo adoptar una dieta
            vegetariana. Aprende sobre alternativas proteicas y la integración
            de la alimentación vegana en la práctica del yoga. Este artículo es
            tu guía esencial.
          </p>
          <a href="https://www.es-yoga.com/nutricion-y-yoga-vegetarianismo/"
            >Leer el artículo completo</a
          >
        </article>
        <article>
          <h2>Pranayama</h2>
          <h3>
            La práctica de la respiración consciente para la salud y el
            bienestar
          </h3>
          <img src="../img/pranayama.jpg" alt="" class="imagen-blog" />
          <p>
            Descubre el poder de la respiración consciente con Pranayama: una
            antigua práctica para una salud óptima y bienestar total. Desde la
            antigua India hasta el mundo moderno, esta técnica milenaria ofrece
            beneficios físicos, emocionales y mentales. Sumérgete en su
            sabiduría y transforma tu vida.
          </p>
          <a href="https://www.es-yoga.com/pranayama/"
            >Leer el artículo completo</a
          >
        </article>
      </div>
    </main>
    <footer>
      <div>
        <div class="footer-redes">
          <a href="https://www.facebook.com">
            <img src="../img/iconos/icons8-facebook-nuevo.svg" alt="facebook" />
          </a>
          <a href="https://www.instagram.com">
            <img src="../img/iconos/icons8-instagram.svg" alt="instagram" />
          </a>
          <a href="https://ar.pinterest.com">
            <img src="../img/iconos/icons8-pinterest.svg" alt="pinterest" />
          </a>
          <a href="https://www.reddit.com">
            <img src="../img/iconos/icons8-reddit.svg" alt="reddit" />
          </a>
          <a href="https://www.tiktok.com/es">
            <img src="../img/iconos/icons8-tik-tok.svg" alt="tik-tok" />
          </a>
          <a href="https://twitter.com">
            <img src="../img/iconos/icons8-twitter.svg" alt="twitter" />
          </a>
        </div>
      </div>

      <div class="powered-by">Powered by Grupo 14</div>
    </footer>
  </body>
</html>
