<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajna Sol</title>

  <link rel="icon" href="../img/LOTOblan.png">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <link rel="stylesheet" href="../styles/styles.css">
  <link rel="stylesheet" href="../styles/clases.css">
</head>

<body>
  <header class="header">
    <div class="logo">
      <a href="../index.html">
        <img class="logo-header" src="../img/LOTOblan.png" alt="logo">
      </a>
    </div>
    <nav class="nav">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        
        <li><a href="../templates/blog.html">Blog</a></li>
        <li><a href="../templates/tienda.html">Tienda</a></li>
        <li><a href="../templates/contacto.html">Contacto</a></li>
        <li><a href="../templates/adminMensajes.html">Admin. Mensajes</a></li>
        <li><a href="../templates/productos.html">Admin. Productos</a></li>
        <li><a href="../index.html">Salir</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="cursos" class="contenido">
      <div id="cursosContenido">
        <h2>Clases y talleres</h2>
        <div>
          <article>
            <h3>Vinyasa Suave</h3>
            <p>Vinyasa o Vinyasa flow yoga es un tipo de yoga donde te mueves entre postura y postura de manera fluida,
              sin resistencia, usando la respiración.</p>
            <a href="contacto.html" class="consultaCursoBtn">Consultar</a>
          </article>
          <article>
            <h3>Slow Yoga</h3>
            <p>El slow yoga flow pone el énfasis de la práctica en la conexión cuerpo y mente, permitiéndote encontrar
              tu propio ritmo en cada momento.</p>
            <a href="contacto.html" class="consultaCursoBtn">Consultar</a>
          </article>
          <article>
            <h3>Yoga para niños</h3>
            <p>El yoga para niños es una adaptación del yoga tradicional diseñada específicamente para niños/as. Se
              trata de una práctica lúdica que combina posturas físicas, técnicas de respiración, relajación y juegos,
              con el objetivo de promover el bienestar físico, mental y emocional de los/las niños/as.</p>
            <a href="contacto.html" class="consultaCursoBtn">Consultar</a>
          </article>
          <article>
            <h3>Yoga para adultos mayores</h3>
            <p>el yoga para adultos mayores es una herramienta para ayudarlos a trabajar la coordinación de su cuerpo,
              los músculos, articulaciones y ligamentos con un bajo impacto, además de ayudarlos a enfocar su mente.</p>
            <a href="contacto.html" class="consultaCursoBtn">Consultar</a>
          </article>
          <article>
            <h3>Yoga en silla</h3>
            <p>El yoga en silla es una variante que te permite disfrutar de los beneficios del yoga tradicional, pero
              con un enfoque más accesible y cómodo, especialmente pensado para personas que tienen limitaciones de
              movilidad o equilibrio.</p>
            <a href="contacto.html" class="consultaCursoBtn">Consultar</a>
          </article>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <div>
      <div class="footer-redes">
        <a href="https://www.facebook.com">
          <img src="../img/iconos/icons8-facebook-nuevo.svg" alt="facebook">
        </a>
        <a href="https://www.instagram.com">
          <img src="../img/iconos/icons8-instagram.svg" alt="instagram">
        </a>
        <a href="https://ar.pinterest.com">
          <img src="../img/iconos/icons8-pinterest.svg" alt="pinterest">
        </a>
        <a href="https://www.reddit.com">
          <img src="../img/iconos/icons8-reddit.svg" alt="reddit">
        </a>
        <a href="https://www.tiktok.com/es">
          <img src="../img/iconos/icons8-tik-tok.svg" alt="tik-tok">
        </a>
        <a href="https://twitter.com">
          <img src="../img/iconos/icons8-twitter.svg" alt="twitter">
        </a>
      </div>
    </div>

    <div class="powered-by">
      Powered by Grupo 14
    </div>
  </footer>
</body>

</html>